@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background-color: #251f35;
}

input::selection, textarea::selection {
    background-color: #959dc9;
}

.fade:hover {
    transition: 0.25s ease-in-out;
    opacity:0.6;
}

#sample {
    transition: transform 0.2s;
}

#sample:hover {
    transform: scale(1.02);
}