@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@100;400;700&display=swap');

body {
    background-color: #0B0A12;
    color: #8283a5;
    font-family: "Inria Serif", Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

::selection {
    background-color: #251f35;
}

input::selection,
textarea::selection {
    background-color: #959dc9;
}

.fade:hover {
    transition: 0.25s ease-in-out;
    opacity: 0.6;
}

#sample {
    transition: transform 0.2s;
}

#sample:hover {
    transform: scale(1.02);
}

body {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align:center;
}

@media (min-width: 768px) {
    body {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        text-align:left;
    }
}

@media (min-width: 1024px) {
    body {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}